div.text_in_paragraph{
    color: blueviolet;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in;
}

@keyframes colorchange {
    0% {color: red;}
    50% {color: blue;}
    100% {color: yellow;}
}

div.box {
    width: 200px;
    height: 300px;
    background-color: aqua;

}
div.box:hover{
    transform: rotateY(150deg);
}